#about1 {
    width: 100%;
    /* height: 100vh; */
    background: linear-gradient(rgba(5, 13, 24, 0.3), rgba(0, 0, 0, 0.85)), url(../../images/gecko.jpeg) top center;
    background-size: cover;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.para {
    margin-top: 1rem;
    text-align: center;
}
.para p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
.gaurav1 {
    margin-top: 2rem;
    max-height: auto;
    width: 100%;
}

.heading h3 {
    margin-top: 1.5rem;
    color: rgb(255, 193, 77);
}
strong{
    color: rgb(255, 193, 77);
}


@media (min-width: 1024px) {
    #about1 {
        background-attachment: fixed;
    }
}
