.section2{
    margin-bottom: 6rem;
    font-size: 1.2rem;
    /* text-align: justify; */
}
.introduction{
    margin-top: 4rem;
    background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url(../../images/intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 200% 0, 100% 100%, 75% 90%, 0 100%);
}
.Typewriter{
    display: contents;
}
.full{
    font-size: 1.5rem;
}
.intro1{
    margin-top: 8rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(255, 193, 77);   
}
.intro2{
    /* margin-top: 8rem; */
    font-weight: bold;
    font-size: 3rem;
    color: rgb(255, 193, 77);
}
.intro3{
    /* margin-top: 8rem; */
    font-weight: bold;
    font-size: 1.75rem;
    color: black;
}
.intro4{
    /* margin-top: 8rem; */
    /* font-weight: bold; */
    font-size: 1rem;
    color: rgb(253, 253, 253);
}

button.btn.btn-dark{
    margin-top: 1rem;
    color:rgb(255, 255, 255);
    font-weight: 400;
    margin-bottom: 5rem;
    margin-right: 1rem;
}
#btn2{
    background-color: rgb(255, 193, 77);
    color: black;
    font-weight: 600;
}
.icon{
    margin-top: 1rem;
}

.gaurav{
    height: 15rem;
    width: 16rem;
    border-radius: 50%;
    margin-top: 6rem;
    z-index: 1;
    border-color: black;
}
.gaurav2{
    margin-top: 3rem;
    height: 20rem;
    width: 16rem;
}
.image3{
    text-align: center;
}
.section2{
    margin-top: 8rem;
    overflow: hidden;
}
.about{
    margin-top: 3rem;
    font-weight: bold;
    font-size: 2rem;
    color: black;
    display: inline;
    position: relative;
    overflow: hidden;
    /* border-bottom: solid 0.3rem rgb(255, 193, 77); */
}
.total{
    font-size: 1rem;
    text-align: center;
}
.number{
    text-align: center;
}

@media (max-width: 809px){
    #col6{
        flex-basis: content;
    }
    img.gaurav2{
        margin-left: 6rem;
    }
}
@media (max-width: 690px){
    #btn1{
        margin-bottom: 0;
    }
}
@media (max-width: 575px){
    #btn1{
        margin-bottom: 0;
    }
    #btn2{
        margin-bottom: 0;
    }
    .top1{
        padding-left: 3rem;
    }
    img.gaurav2{
        margin-left: 3rem;
    }
    .aboutme{
        text-align: center;
        padding-left: 2rem;
    }
}
